@media screen and (max-width: 991px){
    .about .hero,
    .contact .contact-info{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px){
    #custom_nav{
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
    }
    #custom_nav .logo{
        display: none;
    }
    #custom_nav #my_nav{
        width: 100%;
        height: 100%;
        transform: rotate(0deg) translateX(0%);
        -webkit-transform: rotate(0deg) translateX(0%);
        background-color: #ffffff;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        
    }
    #custom_nav .navbar-toggler{
        display: block;
    }
    #custom_nav #my_nav .navbar-nav{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            flex-drrection: column;
            -ms-flex-drrection: column;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
    }
    #custom_nav #my_nav .navbar-nav .nav-link{
        padding: 15px 0;
        line-height: 1.5;
    }
}
@media screen and (max-width: 567px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 28px;
    }
    .max-width-450{
        width: auto;
    }
    .section{
        padding-left: 0;
        padding-right: 0;
    }
    .banner-items{
        padding: 0;
        background-position: unset !important;
    }
    .banner-items .banner_content h1.cd-headline{
        font-size: 32px;
    }
    .about .my-details .info li{
        width: 100%;
        
    }
    .testimonials .item .content .data{
        -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
}











